@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Nanum+Myeongjo:wght@700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

$sans-serif: "Roboto", sans-serif; // 100, 300, 400, 500, 700, and 900
$serif: "Nanum Myeongjo", serif;
$field-font: "Montserrat", sans-serif; // 400, 500, 600, 700