.footer {
    background-color: black;
    padding-bottom: 30px;
    bottom: 0;
    width: 100vw;

    .footer-gradient {
        height: 3px;
        width: 100%;
        background: linear-gradient(to right,#d12027 0%,#e65525 22%,#f7901e 91%,#fdba12 100%);
    }
}

.upper-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 5vw 25px 5vw;

    .upper-footer-info {
        display: flex;
        justify-content: space-between;
        gap: 10vw;

        // position: relative;
        // top: 26px;

        ul {
            color: white;
            font-family: $field-font;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 24px;

            li, li a {
                color: #949599;
                font-family: inherit;
                font-weight: 400;
                text-transform: initial;
                font-size: 12px;
                margin-right: 4px;
            }
        }
    }

    .footer-portrait {
        border-radius: 5px;
        height: 80px;
        width: 80px;
        overflow: hidden;
        position: relative;
        border: 1px solid black;

        > img {
            width: 120%;
            height: auto;
            object-fit: cover;
            position: absolute;
            bottom: -34px;
            left: -8px;
        }
    }

    .footer-icons {
        // width: 16%;
        display: flex;
        justify-content: space-around;
        gap: 5vw;

        .footer-icon-link {
            height: 36px;
            width: 36px;

            > img {
                height: 100%;
                // width: auto;
            }
        }        
    }
}

.lower-footer {
    color: #949599;
    font-family: $field-font;
    font-size: 12px;
    text-align: center;
}