$movie-show-padding: 14px;

.movie-show {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    background-color: $dark-gray;

    height: 100vh;
    width: 100vw;
}

.main-movie-show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $medium-gray;
    padding: $movie-show-padding;
    height: 400px;
    width: 500px;
    margin-top: 14px;

    .main-video {
        background-color: black;
        // width: 500px;
        height: 300px;
    }

    .main-title {
        font-family: $sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: $white;
        width: 100%;
    }

    .main-button {
        display: flex;
        align-items: center;
        width: 100px;
        padding: 10px;
        justify-content: space-around;
        background-color: $gray-button;
        cursor: pointer;
        box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 15%) inset;

        .main-button-image {
            height: 12px;
            width: 12px;
        }

        .main-button-text {
            font-family: $sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: $white;
        }

        &:hover {
            background-color: $gray-button-hover;
        }
    }
}

.info-movie-show {
    background-color: $medium-gray;
    padding: $movie-show-padding;
    color: $off-white;
    font-family: $sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.4em;
    // height: 200px;
    width: 500px;
    margin-top: 20px;

    .description {
        margin-bottom: 16px;
    }

    .container {
        display: grid;
        grid-template-columns: 20% 80%;
        gap: 6px;

        .genres {
            line-height: 24px;
        }
    }
}