$movie-show-padding: 14px;

.movie-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark-gray;

    height: fit-content;
    width: 100vw;
}

.main-movie-show {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $medium-gray;
    padding: $movie-show-padding;
    min-height: 450px;
    width: 600px;
    margin-top: 14px;

    .main-video {
        background-color: black;
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    .main-title {
        font-family: $field-font;
        font-weight: 400;
        font-size: 20px;
        color: $white;
        width: 100%;
    }

    .main-button {
        display: flex;
        align-items: center;
        width: 100px;
        padding: 10px;
        justify-content: space-around;
        background-color: $gray-button;
        cursor: pointer;
        box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 15%) inset;

        .main-button-image {
            height: 12px;
            width: 12px;
        }

        .main-button-text {
            font-family: $field-font;
            font-weight: 400;
            font-size: 14px;
            color: $white;
        }

        &:hover {
            background-color: $gray-button-hover;
        }
    }
}

.info-movie-show {
    background-color: $medium-gray;
    padding: $movie-show-padding;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 40px;

    * {
        color: $off-white;
        font-family: $field-font;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.4em;    
    }

    .description {
        margin-bottom: 16px;
    }

    .container {
        display: grid;
        grid-template-columns: 20% 80%;
        gap: 6px;

        .genres {
            line-height: 24px;

            a {
                transition: all .2s ease;
            }

            &:hover {
                a {
                    color: #fff;
                }
            }
        }
    }
}