.movie-index {
    background-color: $dark-gray;
    width: 100vw;
    overflow: hidden;

    .movie-index-banner {
        height: 150px;
        max-height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        img {
            width: 100%;
            // position: absolute;
            // bottom: -394px;
            // margin-top: 212px;
            z-index: 1;
            transform: scaleX(-1);
            object-fit: cover;
            background-repeat: no-repeat;
        }
    }
}

.banner-text {
    width: 50%;
    color: $white;
    font-size: 24px;
    font-family: $field-font;
    font-weight: 700;
    line-height: 30px;
    text-align: right;
    margin: 0 8%;

    position: absolute;
    z-index: 2;
}

@media only screen and (max-width: 800px) {
     .banner-text {
        width: 90%;
        font-size: 20px;
    }

    .movie-index-banner img {
        margin-top: 110px;
    }
}