.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: black;
    color: $white;
    width: 100vw;

    .logo {
        font-family: $serif;
        font-size: 40px;
        margin-left: 5vw;
    }

    .login {
        font-family: $sans-serif;
        font-size: 12px;
        width: 80px;
        height: 30px;
        margin-right: 5vw;
        border: 2px solid $white;
        border-radius: 1px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// DROPDOWN MENUS

.dropdown-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin-right: 5vw;

    .browse-dropdown-btn {
        margin-right: 5vw;
    }
}

.browse-dropdown-btn, .name-dropdown-btn {
    cursor: pointer;
    position: relative;
    
    height: 36px;
    display: flex;
    align-items: center;

    h1 {
        color: $white;
        font-family: $sans-serif;
        font-weight: 500;
        letter-spacing: .06em;
        text-transform: uppercase;
        font-size: 14px;
    }

    .caret {
        height: 100%;
        padding: 20px 0 0 5px;

        img {
            height: 14px;
            width: 14px;
        }
    }
}

.browse-dropdown, .name-dropdown {
    position: absolute;
    top: 36px;
    right: 0;
    background-color: black;
    z-index: 30;
    
    display: none;
    width: max-content;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease;

    border: 1px solid #404040;
    box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 12%), 
        0px 2px 10px 0px rgba(34, 36, 38, 15%);

    li {
        padding: 2px 8px;
        color: $white;
        font-size: 14px;
        font-family: $sans-serif;
        border-left: 3px solid black;
        line-height: 30px;

        &:hover {
            border-color: $white;
        }
    }
}

.browse-dropdown-btn:hover, .name-dropdown-btn:hover {
    
    .browse-dropdown, .name-dropdown {
        display: block;
        // visibility: visible;
        height: fit-content;
        opacity: 1;
    }
}