.search-index {
    position: absolute;
    width: 115%;
    top: 42px;
    left: -35px;
    z-index: 20;

    border-radius: 3px;
    overflow: hidden;
    background-color: $white;

    .search-index-btn {
        width: 100%;
        background-color: #ee6f1c;
        padding: 12px;
        // display: none;
        // border-radius: 4px;

        // visibility: hidden;
        display: flex;
        justify-content: center;

        h1 {
            font-family: $field-font;
            font-weight: 600;
            color: $white;
            font-size: 14px;
            letter-spacing: .04em;
        }

        img {
            height: 16px;
            margin-right: 10px;
        }
    }
}

.search-index-item {
    // visibility: hidden;
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 12px 16px;

    border-left: 1px solid rgba(34, 36, 38, 0.15);
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);

    &:hover {
        cursor: pointer;
        background-color: #f9fafb;
    }

    .search-thumbnail {
        justify-content: center;
        align-self: flex-start;

        .search-thumbnail-inner {
            height: 75px;
            aspect-ratio: 2 / 3;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .search-info {
        align-self: center;
        padding-left: 14px;

        > * {
            font-family: $field-font;
            font-size: 14px;
        }

        h1 {
            color: #3a3838;
            font-weight: 700;
            margin-bottom: 2px;
        }

        p {
            color: rgba(0, 0, 0, 0.4);
            font-weight: 400;
            padding: 3px 0;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.search-index-item.empty {
    display: block;
    padding: 22px;
    
    &:hover {
        cursor: auto;
        background-color: $white;
    }
}